<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试用例框架</title>
    <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-treeview/bootstrap-treeview.css" rel="stylesheet">
    <link href="/css/bootstrap-ztree/bootstrapStyle.css" rel="stylesheet">
    <link href="/css/bootstrap-table/bootstrap-table.css" rel="stylesheet">

    <script src="/js/common/systemCommonQuote.js"></script>
    <script src="/js/common/commFunction.js"></script>
    <script src="/js/common/pluginLibrary.js"></script>

    <script src="/js/test-case-frame.js"></script>

    <!--    <script src="/js/bootstrap-treeview/bootstrap-treeview.js"></script>-->
    <!--    <script src="/js/js/MeasurementPoint/hdst.treeview-query2.0.js"></script>-->

</head>
<body>
<div class="container-fluid">

    <div class="row" id="head-top-model">
        <div class="col-xs-12 new-head" id="headMenu">
            <nav class="navbar navbar-default" role="navigation" id="navbar">
                <div class="container-fluid">
                    <div>
                        <!--向左对齐-->
                        <ul class="nav navbar-nav navbar-left">
                            <li class="navbar-text navbar-left" id="cloud-name">测试用例框架</li>
                        </ul>
                        <!--向右对齐-->
                        <ul class="nav navbar-nav navbar-right" id="sysMenu" style="margin-right: 10px;margin-top:8px">
                            <li class="dropdown">
                                <button type="button" value="2" class="btn dropdown-toggle" id="dropdownMenu"
                                        data-toggle="dropdown" aria-expanded="false">表计管理系统<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li value="1"><a href="">用户权限管理系统</a></li>
                                    <li value="3"><a href="">设备管理系统</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row panelWrapper">
        <div class="treePanelWrapper col-lg-8 col-md-7">
            <div class="panel panel-primary" id="areaPanel" style="height: 843px;">
                <div class="panel-heading">用例步骤</div>
                <div class="panel-body">
                    <div id="testCaseStepTree" class="ztree">
                    </div>
                </div>
            </div>
        </div>
        <div class="infoPanelWrapper col-lg-4 col-md-5" style="padding-left: 0">
            <div class="panel panel-primary" id="formManage" style="height: 843px;">
                <div class="panel-heading">步骤模块管理</div>
                <div class="panel-body">
                    <div id="operateAndQuery">
                        <div class="operate-button-box d-inlineBlock col-lg-1 col-md-1" id="btn-operate">
                            <button type="submit" class="btn btn-primary dropdown-toggle" onclick="newMovingMeter()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span>新增移库</span>
                            </button>
                        </div>
                        <div class="dropdown col-lg-1 col-md-1" style="margin-left:24px">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    onclick="newOutMeter()">
                                <span>新增出库</span>
                            </button>
                        </div>
                        <form action="" name="queryCondition" class="form-inline d-inlineBlock conditionForm"
                              style="margin-left:24px">
                            <div class="form-group">
                                <label class="label-control" for="noteNum">表单号：</label>
                                <input class="form-control" type="text" id="noteNum">
                            </div>
                            <div class="form-group">
                                <label class="label-control" for="operateTime">操作时间：</label>
                                <input class="form-control" type="text" id="operateTime" lay-key="1">
                            </div>
                            <button type="button" class="btn btn-primary" id="infoQueryButton" onclick="queryInfo()">查询
                            </button>
                        </form>
                    </div>
                    <div class="tableInfo table-responsive" id="tableInfo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="modal_department" tabindex="-1" role="dialog">

</div>


</body>
</html>